@font-face {
	font-family: "0";
	src: url("../fonts/Tektur-VariableFont_wdth\,wght.ttf");
}

@font-face {
	font-family: "1";
	src: url("../fonts/Space_Mono/SpaceMono-Regular.ttf");
}

.font-0 {
	font-family: "0", Consolas;
}

.font-1 {
	font-family: "1", Consolas;
}

.epic {
	text-shadow: var(--text-shadow), 3vw 1vh 2px var(--t1), -3vw 2vh 2px var(--t1), 3.5vw -2.5vh 2px var(--t1), -3.5vw -1.5vh 2px var(--t1), -0.5vw -0.5vh 2px var(--t1), 0.5vw 0.5vh 2px var(--t1);
}
